*{
    text-decoration:none ;
}
.container{
    margin: auto;
    max-width: 1024px;
    width: 100%;
}
.container2{
    margin: auto;
    max-width: 1512px;
    width: 100%;
}
a{
    color: #2997FF;
    font-weight: 400;
    font-size: 21px;
}
